/* Default styles */

@media only screen and (min-width: 390px) and (max-width: 844px) and (-webkit-device-pixel-ratio: 3) {
    body {
        font-size: 20px; /* Adjust this value to your liking */
    }
    .page-title {
        font-size: 80px; /* Adjust this value to your liking */
    }
    .bottom-nav {
        height: 75px; /* Adjust this value to your liking */
    }
    .nav-icon {
        font-size: 40px;
    }
}

/* Styles for small screens */
@media only screen and (max-width: 600px) {
    /* Add your responsive styles here */
}

/* Styles for medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Add your responsive styles here */
}

/* Styles for large screens */
@media only screen and (min-width: 1025px) {
    /* Add your responsive styles here */
}