/waterboi/api/node_modules/
waterboi/api/src/main/resources/static/built/bundle.js
waterboi/api/src/main/resources/static/built/bundle.js
waterboi/api/src/main/resources/static/built/bundle.js
waterboi/api/src/main/resources/static/built/bundle.js
/waterboi/api/src/main/resources/static/built
*.woff
*.woff2
waterboi/api/src/main/resources/static/built/bundle.js
waterboi/api/package-lock.json
waterboi/api/package-lock.json
waterboi/api/package-lock.json
waterboi/api/src/main/resources/static/built/bundle.js
waterboi/api/package-lock.json
